{% extends 'base.html.twig' %}

{% block body %}
<div class="w3-container">
 <a href="{{ path('homepage') }}"" class="w3-button w3-block w3-teal" style="width:100%">Tornar al Llistat</a>
  <div class="w3-card-4">
    <header class="w3-container w3-blue">
      <h1>{{product.name}}</h1>
    </header>
    <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">
    {% for message in app.flashes('notice') %}
      <div class="flash-notice">
          {{ message }}
      </div>
    {% endfor %}
    </div>
    <div class="w3-container">
      <p>{{product.name}}</p>
      <p>{{product.description}}</p>
      <p>{{product.shortDescription}}</p>
      <a href="{{ path('edit', {'id': product.id}) }}"><button class="w3-btn w3-round w3-teal w3-margin">Edit</button></a>
    </div>


    <footer class="w3-container w3-blue">
      <h5>{{product.postedAt.timezone}} - {{product.postedAt | date("m/d/Y") }} - {{product.price}}$</h5>
    </footer>
  </div>
</div>
{% endblock %}




